<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgJwK5yyXUPv9mlyumKYeJb8FC1zPoff4</string>
	<key>GCM_SENDER_ID</key>
	<string>24713237394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkayemreaslan.TaskFlow</string>
	<key>PROJECT_ID</key>
	<string>taskflow-dcbbf</string>
	<key>STORAGE_BUCKET</key>
	<string>taskflow-dcbbf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24713237394:ios:2dacc3a745a6d8e583a74b</string>
</dict>
</plist>